/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../../vendor/bootstrap/less/bootstrap.less';
@import '../../vendor/jquery-snappish/jquery.snappish.less';

/**
 * This is our main variables file. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';


/**
 * Typography
 */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

h1, h3, .h1, .h3 {
  font-family: 'Roboto';
  font-weight: 900;
}

/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

.navbar-white {
  background-color: #fff;
  border-color: none;
  .navbar-header {
    .navbar-brand {
      font-size: 1.2em;
      font-family: Roboto;
      font-weight: 900;
      width: 80%;
      padding: 9px 10px;
      margin-top: 8px;
    }
  }
  a {
    color: #000;
    font-size: 1.5em;
  }
  .icon-bar {
    background-color: @gray-darker;
  }
}

.menu-collapse {
  position: relative;
  img.sutd-logo {
    position: absolute;
    top: 25px;
    left: 29px;
  }
  img.mt-logo {
    position: absolute;
    top: 95px;
    left: 0px;
  }
}

.transform(@string){
	-webkit-transform: @string;
	-moz-transform: 	 @string;
	-ms-transform: 		 @string;
	-o-transform: 		 @string;
}

.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease, @count) {
	-webkit-animation: @name @duration @delay @ease @count;
	-moz-animation:    @name @duration @delay @ease @count;
	-ms-animation:     @name @duration @delay @ease @count;
}

@import '../app/home/home.less';
@import '../app/blog/blog.less';
@import '../app/event/event.less';
