html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

div[ui-view] {
  width: 100%;
  height: 100%;
}

div[snappish] {
  .make-row();
  overflow:hidden;
  height: 100%;
}

.snappish-main {
  section {
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
  }
}

.section-1 {
  border: 1px black solid;
}

.section-2 {
  text-align: center;
  border: 1px red solid;
  background-color:#222;
  color:#EEE;
}
