.section-1 {
  text-align: center;
  padding-top: 70px;
  border: 1px black solid;
  background-repeat: no-repeat;
  background-size:100% auto;
}

.section-2 {
  text-align: center;
  border: 1px red solid;
  background-color:#222;
  color:#EEE;
}
