html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

div[ui-view] {
  width: 100%;
  height: 100%;
}

div[snappish] {
  .make-row();
  overflow:hidden;
  height: 100%;
}

.snappish-main {
  background-color:#111;
  section {
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
  }
}

.section-1 {
  border: 1px black solid;
  display: table;
  color: #FFF;
  h1 span {
    padding: 5px;
    border: solid 11px;
    display: inline-block
  }
}

.section-2 {
  text-align: center;
  background-color:#111;
  color:#EEE;
}

.bg-1 {
  background-image: url('mountain2.jpg');
}
